.navbar {
    background-color: blue;
}

.navbar-brand {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navbar-brand:hover {
    font-size:30px;
}

.jumbotron{
    font-size: 30px;
    background-color: azure;
    text-align: center;
}

.form {
    font-size: 25px;
    font-weight: bold;
}


.btn {
    font-size: 25px;
    margin-top: 20px;
    background-color: skyblue;
}

.btn:hover {
    font-size: 35px;
}